<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gastos Variables
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gastos Variables</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>Listado de gastos variables</h1>

  <ion-button (click)="agregar()">Agregar gasto variable</ion-button>

  <ion-list>
    <ion-item-sliding *ngFor="let ingreso of ingresos">
      <ion-item>
        <ion-label>{{ingreso.concepto}}</ion-label>
        <ion-label>$ {{ingreso.cantidad}}</ion-label>
        <ion-label>{{imprimirFecha(ingreso.fecha)}}</ion-label>
      </ion-item>

      <ion-item-options slot="end">
        <ion-item-option color="tertiary" (click)="editar(ingreso)">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-item-option>

        <ion-item-option color="danger" expandable="true">
          <ion-icon slot="icon-only" name="trash" (click)="eliminar(ingreso)"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      
    </ion-item-sliding>
  </ion-list>

  
</ion-content>
