<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="ingresos" href="/tabs/ingresos">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Ingresos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="gastosFijos" href="/tabs/gastosFijos">
      <ion-icon name="remove-circle-outline"></ion-icon>
      <ion-label>Gastos Fijos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="gastosVariables" href="/tabs/gastosVariables">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Gastos Variables</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
