<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Datos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-label>Reporte de estado financiero</ion-label>
  <div style="height: 40vh; width: 90vw;">
    <canvas
       #graficaEstadoFinanciero
       style="height: 30vh;"
    ></canvas>
  </div>

  <ion-label>Reporte de movimientos financieros</ion-label>
  <div>
    <canvas
        style="height: 30vh; width: 90vw;"
       #graficaMovimientosFinancieros
    ></canvas>
  </div>
</ion-content>
